body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 15px;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  padding: 8px;
  width: 100%;
  margin-top: 8px;
}

.valider {
  background: green;
  color: white;
  font-size: 16px;
}
