body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1c1c1c;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #111;
}

#cart-btn {
  background: #c7c400;
  color: #000;
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.filters {
  padding: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 12px;
}

.card {
  background: #2a2a2a;
  border-radius: 14px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.badge {
  background: #444;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

button {
  background: #c7c400;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

#cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 15px;
  max-height: 70%;
  overflow-y: auto;
}

.hidden {
  display: none;
}
