body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1b1b1b;
  color: #fff;
}

header {
  background: #111;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart-btn {
  background: #d4c800;
  color: #000;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

select {
  width: 95%;
  margin: 10px auto;
  display: block;
  padding: 8px;
  border-radius: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.card div {
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: #d4c800;
  font-weight: bold;
}

#cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 15px;
  max-height: 70%;
  overflow-y: auto;
}

.hidden {
  display: none;
}
